body {
    background: #f9d1d1;
    color: #000;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 7%;
}

.add-todo {
    text-transform: uppercase;
}

.add-todo input {
    width: 100%;
}

.submit-btn {
    margin: 10px;
}

.submit-btn .btn,
.clear-btn .btn {
    font-size: 40px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.todo-btns {
    display: flex;
    flex-direction: row;
}

#removeBtn:hover {
    color: red;
}

#completeBtn:hover {
    color: green;
}

@media (max-width: 500px) {
    .flex-container {
        border: 1px solid white;
    }
}
